body{
    display: flex;
    flex-direction: row;

}
.signUp-Container{
    padding-top: 20px;
    margin-top: 5%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(29, 27, 54);
    border-radius: 5px;
    height: 50%;
    padding-bottom: 20px;

}
.signup{
    width: 90%;
    margin-bottom: 10px;
    /* margin-left: 32px; */
}
#signup-username{
    background: rgb(208, 206, 232);
    font-weight: bolder;
    width: 35%;
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
}
#signup-password{
background: rgb(208, 206, 232);
    font-weight: bolder;
    width: 35%;
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
}
#signUp-btn{
    width: 15%;
        padding: 10px 13px;
        font-size: 15px;
        background: rgb(208, 206, 232);
            font-weight: bolder;
            border-radius: 5px;
}
.signin {
    width: 90%;
}
#signin-username{
    background: rgb(208, 206, 232);
        font-weight: bolder;
        width: 35%;
        padding: 10px;
        font-size: 15px;
        border-radius: 5px;
}
#signin-password{
        background: rgb(208, 206, 232);
        font-weight: bolder;
        width: 35%;
        padding: 10px;
        font-size: 15px;
        border-radius: 5px;
}
#signIn-btn {
    width: 15%;
    padding: 10px 13px;
    font-size: 15px;
    background: rgb(208, 206, 232);
    font-weight: bolder;
    border-radius: 5px;
}